.room-container {
  margin-left: 50px;
}

.btn {
  font-size: 1.5em;
  border-radius: 25px;
}

.btn-back {
  padding: 10px;
}

.btn-back:hover {
  background-color: #333;
  color: #eee;
  transition: .5s;
  cursor: pointer;
}
