.daily__room-summary-cards-container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}

.daily__room-summary-cards {
  display: flex;
  padding: 25px 0px;
  overflow-x: scroll;
  scroll-snap-type: mandatory;
  list-style: none;
}

.daily__room-summary-cards::-webkit-scrollbar {
  height: 12px;
}

.daily__room-summary-cards::-webkit-scrollbar-thumb,
.daily__room-summary-cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

.daily__room-summary-cards::-webkit-scrollbar-thumb {
  background: rgb(174, 174, 174);
}

.daily__room-summary-cards::-webkit-scrollbar-track {
  background: rgb(232, 232, 232);
}
