.room-summary-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 0 0 100%;
  padding: 20px;
  margin: 0 20px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
  text-align: center;
  min-height: 75vh;
  min-width: 300px;
  background-color: rgb(250, 250, 250);
}

.room-summary-card:hover {
  cursor: pointer;

}

.room-summary-card__name,
.room-summary-card__progress,
.room-summary-card__status {
  font-size: 32px;
}

.room-summary-card__status-completed {
  color: #32CD32;
}

.room-summary-card__status-in-progress {
  color: #FF0000;
}
